<!-- About me section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">{{title}}</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder"></h2>
                    <p class="lead mb-0 fw-normal">I graduated from Georgian College with honours in 2021 for Computer Programming, 
                        and am a Wilfird Laurier University alum. I worked at Job Skills in Newmarket as an Information 
                        Technology Inter for my Coop placement with Georgian College. From July 2018 to December 2019 
                        I worked as a Client Service Coordinator with Paramed and Bayshore. I handeled scheduling for nursing 
                        and PSW services through Barrie, Orillia, Midland, Ottawa, Cornwall, and Renfrew. </p>
                </div>
                <!-- Testimonial -->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1">It was a joy working with Connor. Connor always went above and beyond to get the job
                                    done!</p>
                                <div class="small text-muted">- Former Supervisor, Newmarket</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Skills</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Exceptional Interpersonal Skills</li>
                        <li class="list-group-item">Root Cause Analysis</li>
                        <li class="list-group-item">Quality Assurance</li>
                        <li class="list-group-item">Security and Authorization</li>
                        <li class="list-group-item">System Monitoring</li>
                        <li class="list-group-item">Team Leadership</li>
                        <li class="list-group-item">Networking and Fileshare</li>
                        <li class="list-group-item">Application Development</li>
                        <li class="list-group-item">Knowledge Transfer</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Languages</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Java</li>
                        <li class="list-group-item">ASP.NET</li>
                        <li class="list-group-item">ASPX</li>
                        <li class="list-group-item">VB.NET</li>
                        <li class="list-group-item">C#</li>
                        <li class="list-group-item">T-SQL</li>
                        <li class="list-group-item">HTML5</li>
                        <li class="list-group-item">JavaScript</li>
                        <li class="list-group-item">Swift</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Programs</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Visual Studio</li>
                        <li class="list-group-item">Visual Studio Code</li>
                        <li class="list-group-item">SQL Server Management Studio</li>
                        <li class="list-group-item">SQL Server Reporting Services</li>
                        <li class="list-group-item">MySQL Workbench</li>
                        <li class="list-group-item">Mongo DB</li>
                        <li class="list-group-item">IIS Manager</li>
                        <li class="list-group-item">Microsoft Teams</li>
                        <li class="list-group-item">Microsoft Remote Desktop Protocol</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</section>