<!-- Front Page Introduction section-->
<section id="mainPanel" class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Connor Watson</h1>
                    <h2 class="display-6 fw-bolder text-white mb-2">Computer Programmer</h2>
                    <p class="lead text-white-50 mb-4">A Georgian College Graduate and Wilfrid Laurier University Alum, I am Looking for employment as a Computer Programmer or Database Admin</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/download">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection feature"></i></div>
                <h2 class="h4 fw-bolder">Featured Project</h2>
                <p>My featured project is the creation of a personal portfolio website. This is created for school in June 2021. See the <a href="https://github.com/ConnorWatsonGitHub/COMP2068/tree/main/Assignment1"> Project's Github Repository</a>.</p>
                <a class="text-decoration-none" href="/projects">
                    See All Projects
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-file-person"></i></div>
                <h2 class="h4 fw-bolder">Learn More About Me</h2>
                <p>Learn why I would be the best cadidate for the job and walk through my experince and skills, in the workplace, at school, and personal projects.</p>
                <a class="text-decoration-none" href="/about">
                    Find Out More
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="h4 fw-bolder">Contact Me</h2>
                <p>If you would like to hire me for a position or comission a special project, or have anymore questions please let me know!</p>
                <a class="text-decoration-none" href="/contact">
                    Send Me an Email
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

