<!-- Pricing section-->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">{{title}}</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 col-xl-4 projectTile">
                <div class="card mb-5 mb-xl-0">
                    <div class="card">
                        <a href="./images/projects/ASPNETProjectWhatWasThatBook.jpg">
                            <img class="card-img-top" src="./images/projects/ASPNETProjectWhatWasThatBook.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">What Was That Book?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ASP.NET Core MVC</h6>
                            <p class="card-text">Coded in C# with ASP.NET Core MVC, this web app is designed to manage user submitted books that are stored in a SQL Server Database.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <a href="https://github.com/ConnorWatsonGitHub/WhatWasThatBook">Github Repository</a> |
                                <a href="https://whatwasthatbook.azurewebsites.net">Web App</a>
                                </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 projectTile">
                <div class="card mb-5 mb-xl-0">
                    <div class="card">
                        <a href="./images/projects/PortfolioJavaScript.jpg">
                            <img class="card-img-top" src="./images/projects/PortfolioJavaScript.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Portfolio</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Javascript MEAN Framework</h6>
                            <p class="card-text">Using the MEAN Framework this web app is intended to act as a portfolio to display my work.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <a href="https://github.com/ConnorWatsonGitHub/COMP2068/tree/main/Assignment1">Github Repository</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 projectTile">
                <div class="card mb-5 mb-xl-0">
                    <div class="card">
                        <a href="./images/projects/co-opLogshippingSQLServer.jpg">
                            <img class="card-img-top" src="./images/projects/co-opLogshippingSQLServer.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Transaction Log Shipping</h5>
                            <h6 class="card-subtitle mb-2 text-muted">SQL Server</h6>
                            <p class="card-text">With my co-op placement I had planned and initilized Log Shipping between two SQL Servers.</p>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 projectTile">
                <div class="card mb-5 mb-xl-0">
                    <div class="card">
                        <a href="./images/projects/co-opSettingUpSQLServerReportingServices.jpg">
                            <img class="card-img-top" src="./images/projects/co-opSettingUpSQLServerReportingServices.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">SQL Server Reporting Services</h5>
                            <h6 class="card-subtitle mb-2 text-muted">SQL Server 2012 and SQL Server 2019</h6>
                            <p class="card-text">With my co-op placement I initilized SSRS for to be accessible through SSL and unaccessible through TCP.</p>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 projectTile">
                <div class="card mb-5 mb-xl-0">
                    <div class="card">
                        <a href="./images/projects/JavaScriptToDoProject.jpg">
                            <img class="card-img-top" src="./images/projects/JavaScriptToDoProject.jpg" alt="To Do Project Thumbnail">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">To-Do List</h5>
                            <h6 class="card-subtitle mb-2 text-muted">JavaScript</h6>
                            <p class="card-text">A To-Do list that uses multiple APIs to save a list of user submitted tasks and shows the user the weather in their area.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <a href="https://github.com/ConnorWatsonGitHub/project">Github Repository</a> |
                                <a href="https://connorwatsongithub.github.io/project/">Web App</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 projectTile">
                <div class="card mb-5 mb-xl-0">
                    <div class="card">
                        <a href="./images/projects/ITTicketingSystem.jpg">
                            <img class="card-img-top" src="./images/projects/ITTicketingSystem.jpg" alt="IT Ticketing System Thumbnail">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">IT Ticketing System</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ASPX</h6>
                            <p class="card-text">Created during my co-op placement. I designed amd created a ticketing system which allows users to submit, view, 
                                and track progress their tickets they have created. Members of IT are able to view all tickets and close the tickets when the task is completed.
                                 The system allowed for multiple permissions levels of users and will connect to SMTP to send confirmation emails. 
                                 Users were also able to send an email to the helpdesk and a ticket would be created automatically using a PowerAutomate Flow</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>